@import "reset.css";
@import "components/components.css";
@import "medias/media.css";

/*global classes*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #cccccc;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title {
    margin-top: 50px;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: #333333;
    text-shadow: 1px 0 #BABABA, 1.1px 0 black;
    border-bottom: 4px solid #FFD447;
}

.article-title {
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    color: #333333;
    text-shadow: 1px 0 #BABABA, 1.1px 0 black;
    border-bottom: 4px solid #FFD447;
}
