@import "reset.css";
@import "header.css";
@import "about.css";
@import "skills.css";
@import "projects.css";

/*global classes*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #cccccc;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
