/*styling skillset*/

.skills-wrapper {
    background-color: white;
    width: 90%;
    display: flex;
}

.main-skills {
    height: 530px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-wrapper {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-subtitle {
    text-transform: uppercase;
    text-shadow: 0.7px 0 #cccccc;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #595959;
}

.main-skills:after {
    right: 47.4%;
    top: 1210px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
}

.main-skill-list h2 {
    background-color: #FC4646;
    height: 7%;
}

.skill-list {
    width: 6.5%;
    height: 93%;
    background-color: white;
}

.skill-list li {
    width: 100%;
    height: 14.28%;
}

.html {
    background-image: url("../imgs/HTML_Logo-kopia.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.sass {
    background-image: url("../imgs/sass-log.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.js {
    background-image: url("../imgs/js-logo.png");
    background-size: 65% 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.react {
    background-image: url("../imgs/react-log.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.redux {
    background-image: url("../imgs/redux-logo.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.webpack {
    background-image: url("../imgs/webpack.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.git {
    background-image: url("../imgs/git.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.separation-line {
    margin-left: 10px;
    margin-right: 10px;
    width: 0.5%;
    height: 93%;
    background-color: #FFDB3D;
    /*border-radius: 20px;*/
}

.main-skill-text {
    height: 85%;
    width: 50%;
}
