/*about styling*/

.main-about {
    width: 90%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 4px solid #39CE98;
}

.main-about:after {
    right: 47.5%;
    top: 100%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #39CE98;
    z-index: 1;
}


.about {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.about:after {
    right: 47.5%;
    top: 99%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 29px solid white;
    z-index: 2;
}

.short-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    text-transform: uppercase;
    color: #333333;
    text-shadow: 1px 0 #BABABA, 1.1px 0 black;
}

.short-description p {
    text-align: center;
    margin-top: 10px;
    font-size: 19px;
    color:#595959;

}

.main-traits {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.trait {
    width: 85%;
    margin-bottom: 30px;
}

.trait h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #333333;
    text-shadow: 0.5px 0 #BABABA, 0.6px 0 black;
}

.trait p {
    color: #595959;
}

.subtitle {
    text-transform: uppercase;
    text-shadow: 0.7px 0 #cccccc;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: #595959;
}

.picture {
    height: 100%;
    width: 50%;
}
