/*header styling*/

.header-wrapper {
    background-color: #39CE98;
    width: 90%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
}

.main-header {
    height: 150px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-header:after {
    right: 47.3%;
    top: 100%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #39CE98;
    z-index: 1;

}

.symbol-and-title {
    display: flex;
}

.symbol {
    width: 40px;
    height: 40px;
}

.small-logo {
    font-weight: 900;
    font-size: 23px;
}

.main-nav {
    width: 38%;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.main-nav ul li {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-nav div {
    width: 0;
    height: 3px;
    background-color: #FFD447;
    transition: all 0.3s ease-out;
}

.main-nav ul li h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 0 #BABABA, 1.1px 0 black;
}

.title {
    text-transform: uppercase;
}

.title h1 {
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #595959;
    text-shadow: 1px 0 white, 1.1px 0 black;
}

.title h2 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: white;
    text-shadow: 1px 0 #BABABA, 1.1px 0 black ;
}
