/*styling proejcts*/

.main-projects {
    width: 90%;
    max-width: 1024px;
    background-color: #FFD447;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main-projects:after {
    right: 47.4%;
    top: 100%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #FFD447;
}

.project {
    margin: 40px 0 40px 0;
    width: 26%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 13px 21px -10px rgba(0, 0, 0, 0.3);
}

.project h3 {
    color: white;
    text-shadow: 1px 0 #595959;
    text-align: center;
    text-transform: uppercase;
    line-height: 43px;
    width: 100%;
    background-color: #39CE98;
    border-radius: 4px 4px 0 0;
}

.github-link {
    margin-left: 10px;
    color: #595959;
    text-decoration: none;
}

.project img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top: 1.5px solid #BABABA;
    border-bottom: 2px solid #BABABA;
    margin-bottom: 5px;
}

.project span {
    color: #333333;
    font-weight: 900;
}

.project p {
    margin-left: 10px;
    height: 115px;
    width: 80%;
    color: #595959;
    font-size: 15px;
}