/*styling skillset*/

.main-skills {
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.main-skills:after {
    right: 47.4%;
    top: 100%;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid white;
    z-index: 1;
}

.skill-list {
    margin-top: 10px;
    background-color: white;
    display: flex;
}

.skill-list li {
    height: 60px;
    width: 60px;
}

.html {
    background-image: url("../../imgs/HTML_Logo.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.sass {
    background-image: url("../../imgs/sass-log.png");
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;
}

.js {
    background-image: url("../../imgs/js-logo.png");
    background-size: 54% 83%;
    background-repeat: no-repeat;
    background-position: center;
}

.react {
    background-image: url("../../imgs/react-log.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.redux {
    background-image: url("../../imgs/redux-logo.png");
    background-size: 110% 99%;
    background-repeat: no-repeat;
    background-position: center;
}

.webpack {
    background-image: url("../../imgs/webpack.png");
    background-size: 72% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.git {
    background-image: url("../../imgs/git.png");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.main-skill-text {
    text-align: center;
    width: 45%;
}

.main-skill-text p {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #595959;
}

.skill-github-link {
    color: #333333;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}