.main-nav-mobile {
    display: none;
}

.menu-hamburger {
    width: 17%;
    height: 85%;
    display: none;
}

.menu-burger-line {
    width: 50px;
    height: 5px;
    background-color: #595959;
    transition: all 0.2s;
}

@media only screen and (min-width: 300px) and (max-width: 375px) {
    .header-wrapper {
        width: 100%;
        height: 60px;
    }
    .main-header {
        width: 95%;
        height: 100%;
    }
    .main-header:after {
        top: 60px;
        right: 42%;
    }
    .menu-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .main-nav {
        display: none;
    }
    .main-nav-mobile {
     display: block;
    }
    .title h1 {
        font-size: 20px;
    }
}

#move-up {
    animation: move-up 0.2s linear 1 forwards;
}

#move-down {
    animation: move-down 0.2s linear 1 forwards;
}

#rotate-left {
    animation: rotate-left 0.2s linear 1 forwards;
}

#rotate-counter-left {
    animation: rotate-counter-left 0.2s linear 1 forwards;
}

@keyframes move-up {
    100% {
        transform: translate(0, -3px);
    }
}

@keyframes move-down {
    0% {
        transform: translate(0, -3px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate-left {
    100% {
        transform: translate(-13px, 12px) rotate(-55deg);

    }
}

@keyframes rotate-counter-left {
    0% {
        transform: translate(-13px, 12px) rotate(-55deg);

    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}