/*styling mobile about*/

@media only screen and (min-width: 300px) and (max-width: 375px) {
    .about-wrapper {
        width: 100%;
    }
    .main-about {
        height: 90%;
        margin-bottom: 5px;
    }
    .main-about:after {
        right: 43%;
        top: 100%;
    }
    .about {
        height: 98%;
        flex-direction: column;
    }
    .about:after {
        right: 44%;
        top: 99.5%;
    }
    .short-description {
        width: 95%;
        margin-top: 40px;
    }
    .short-description p {
        font-size: 20px;
        text-align: center;
    }
    .main-traits {
        width: 95%;
        margin-bottom: 15px;
    }
    .trait h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }
    .trait p {
        font-size: 19px;
        text-align: center;
    }
}