/*styling mobile projects*/

@media only screen and (min-width: 300px) and (max-width: 450px) {
    .main-projects {
        width: 100%;
        flex-direction: column;
    }
    .main-projects:after {
        top: 100%;
        right: 42%;
    }
    .project {
        width: 80%;
    }
    .project h3 {
        font-size: 22px;
    }
    .link-wrapper {
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
    }
    .github-link {
        margin: 0;
        font-size: 19px;
    }
    .project p {
        margin: 0 0 10px 0;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 19px;
    }
}