/*styling mobile footer*/

@keyframes move-left-mobile {
    100% {
        transform: translate(-10px, 0);
    }
}

@keyframes move-right-mobile {
    0% {
        transform: translate(-10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes expand-mobile {
    0% {
        width: 45px;
    }
    100% {
        width: 95vw;
    }
}


@media only screen and (min-width: 300px) and (max-width: 450px) {
    .main-footer {
        width: 100%;
    }
    .footer-title {
        text-align: center;
        font-size: 15px;
    }
    .contact-list {
        width: 90%;
        margin-bottom: 15px;
    }
    .mail {
        top: 20%;
        font-size: 5vw;
    }
    #move-left {
        animation: move-left-mobile 0.2s linear 1 forwards;
    }
    #move-right {
        animation: move-right-mobile 0.2s linear 1 forwards;
    }
    #expand {
        animation: expand-mobile 0.3s 0.2s linear 1 forwards;
    }

}