/*styling mobile skills*/

@media only screen and (min-width: 300px) and (max-width: 375px) {
    .skills-wrapper {
        width: 100%;
    }
    .main-skills {
        height: 100%;
    }
    .main-skills:after {
        top: 100%;
        right: 43%;
    }
    .inner-wrapper {
        margin-top: 40px;
        height: 100%;
    }
    .skill-list {
        width: 98%;
        height: 45px;
    }
    .main-skill-text {
        width: 90%;
        font-size: 19px;
        margin-bottom: 15px;
    }
}